<%- include('includes/head.ejs'); %>
<%- include('includes/header.ejs'); %>

<main>
    <section class="uploadSection">
        <form action="/upload" method="post" class="uploadForm" enctype="multipart/form-data">
            <fieldset>
                <legend>Upload your photograph</legend>

                <label for="photographer">Name photographer</label>
                <input type="text" id="photographer" name="photographer" placeholder="Who took the photograph?"
                    required>

                <label for="location">Location photograph</label>
                <input type="text" id="location" name="location" placeholder="Where is the photograph taken?" required>

                <label for="titlePhoto">Short Description</label>
                <input type="text" id="titlePhoto" name="titlePhoto"
                    placeholder="A description of the photo in 2 to 5 words" required>

                <label for="description">Description</label>
                <textarea name="description" id="description"
                    placeholder="Tell something about the photograph, this can by anything you want us to know!"
                    required></textarea>


                <section class="drop-zone">
                    <span class="drop-zone_text"> Drop file here or click to upload</span>
                    <!-- <div class="drop-zone_thumb" data-label="myfile.text"></div> -->
                    <label for="image" id="imageLabel">Upload your photo!</label>
                    <input type="file" name="image" class="drop-zone_input" id="image" accept="image/*" required>
                </section>



                <input type="submit" value="Upload" id="uploadPhotograph">
                <label for="uploadPhotograph"><span class="uploadLabel">Upload</span> </label>

            </fieldset>
        </form>
    </section>

</main>

<%- include('includes/footer.ejs'); %>