<%- include('includes/head.ejs'); %>
<%- include('includes/header.ejs'); %>

<main class="uploadPage">
    <section class="uploadSection">
        <form action="/upload" method="post" id="uploadImage" class="uploadForm" enctype="multipart/form-data">
            <fieldset>
                <legend>Upload your photograph</legend>

                <label for=" photographer">Name photographer</label>
                <input type="text" id="photographer" name="photographer" placeholder="Who took the photograph?"
                    required>

                <label for="location">Location photograph</label>
                <div class="locationWrap">
                    <input type="text" id="location" name="location" placeholder="Where is the photograph taken?"
                        required>
                    <div id="getLocation">
                        <svg version="1.1" id="location_icon" x="0px" y="0px" viewBox="0 0 25 24.9" width="30"
                            fill="none">
                            <g>
                                <path
                                    d="M12.5,9.8c-1.5,0-2.7,1.2-2.7,2.7c0,1.5,1.2,2.7,2.7,2.7c1.5,0,2.7-1.2,2.7-2.7c0,0,0,0,0,0C15.2,11,14,9.8,12.5,9.8z
                        M12.5,14.2c-0.9,0-1.7-0.8-1.7-1.7c0-0.9,0.8-1.7,1.7-1.7c0.9,0,1.7,0.8,1.7,1.7c0,0,0,0,0,0C14.2,13.5,13.4,14.2,12.5,14.2z" />
                                <path d="M22.5,12h-1.7c-0.3-4.1-3.6-7.4-7.7-7.7V2.5c0-0.3-0.2-0.5-0.5-0.5C12.2,2,12,2.3,12,2.5v1.7C7.8,4.5,4.5,7.8,4.3,12H2.5
                       C2.3,12,2,12.2,2,12.5S2.3,13,2.5,13h1.7c0.3,4.2,3.6,7.5,7.7,7.7v1.7c0,0.3,0.2,0.5,0.5,0.5s0.5-0.2,0.5-0.5v-1.7
                       c4.2-0.3,7.5-3.6,7.7-7.7h1.7c0.3,0,0.5-0.2,0.5-0.5C22.9,12.2,22.7,12,22.5,12z M13,19.7v-0.6c0-0.3-0.2-0.5-0.5-0.5
                       c-0.3,0-0.5,0.2-0.5,0.5v0.6c-3.6-0.3-6.5-3.1-6.7-6.7h0.6c0.3,0,0.5-0.2,0.5-0.5c0-0.3-0.2-0.5-0.5-0.5H5.3
                       C5.5,8.4,8.4,5.5,12,5.3v0.6c0,0.3,0.2,0.5,0.5,0.5S13,6.1,13,5.9V5.3c3.6,0.3,6.4,3.1,6.7,6.7h-0.6c-0.3,0-0.5,0.2-0.5,0.5
                       s0.2,0.5,0.5,0.5h0.6C19.5,16.6,16.6,19.5,13,19.7z" />
                            </g>
                        </svg>
                    </div>
                </div>

                <label for="titlePhoto">Short Description</label>
                <input type="text" id="titlePhoto" name="titlePhoto"
                    placeholder="A description of the photo in 2 to 5 words" required>

                <label for="description">Description</label>
                <textarea name="description" id="description"
                    placeholder="Tell something about the photograph, this can by anything you want us to know!"
                    required></textarea>


                <div class="drop-zone">
                    <span class="drop-zone_text"> Drop file here or click to upload</span>
                    <!-- <div class="drop-zone_thumb" data-label="myfile.text"></div> -->
                    <label for="image" id="imageLabel">Upload your photo!</label>
                    <input type="file" name="image" class="drop-zone_input" id="image" accept="image/*" required>
                </div>



                <input type="submit" value="Upload" id="uploadPhotograph">
                <label for="uploadPhotograph"><span class="uploadLabel">Upload</span> </label>

            </fieldset>
        </form>
    </section>

</main>

<%- include('includes/footer.ejs'); %>