* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --red: #D42D42;
    --darkgray: #333;
    --lightgray: #ebebeb;
    --green: #2E8C0B;

    --fontStandard: 'Lexend', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300;700&display=swap');


body {
    font-family: var(--fontStandard);
}

nav {
    background-color: var(--lightgray);
}

nav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: min(60rem, 100%);
    margin: 0 auto;
}

nav>ul>li {
    list-style: none;
    padding: 1rem 1.5rem;
}

nav>ul>li:first-child {
    flex-grow: 1;
    position: relative;
    padding: .5rem 2rem 0 2rem;
}

nav a {
    text-decoration: none;
    color: var(--darkgray);
    transition: all .5s ease;
}

nav a:hover {
    color: var(--red);
}

nav a:focus {
    color: var(--red);
    outline: 1px dashed var(--red);
}

/* logo in menu */
header>nav li:first-child figure svg {
    width: 2rem;
    transform: scale(1);
    transition: transform .75s ease;
}

header>nav li:first-child figure svg:hover {
    transform: scale(.6) rotate(1turn);
}

.st0 {
    fill: #FFFFFF;
}

.st1 {
    fill: #D42D42;
}

/* GRID  */
.grid-masonry {
    width: min(60rem, 90%);
    margin: 2rem auto;
    column-count: 1;
    column-gap: 10px;
    align-items: start;
}

.grid-masonry li {
    color: lightgray;
    list-style: none;
}


.grid-masonry a {
    text-decoration: none;
}

.grid-masonry li:focus-within {
    box-shadow: 0 0 1px 1px var(--red);
}

.grid-masonry a:focus {
    outline: none;
}



.grid-masonry img {
    width: 100%;
    background: var(--lightgray);
    border-radius: .5rem;
    display: block;
    transition: transform .5s ease;
    transform-origin: bottom center;
}

.grid-masonry li:hover img {
    /* transform: scale(1.01); */
    transform: translateY(-3px);
}

figure {
    margin: 0;
    display: grid;
    grid-template-rows: 1fr auto;
    margin-bottom: 10px;
    break-inside: avoid;
    align-items: start;
}


figcaption {
    padding: .2em 0 .2em .5em;
    color: #333;
    font-weight: 300;
}




/* UPLOAD FORM  */
.uploadSection {
    width: min(30rem, 90%);
    margin: 0 auto;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    font-family: var(--fontStandard);
}

input::-moz-placeholder,
textarea::-moz-placeholder {
    /* Firefox 19+ */
    font-family: var(--fontStandard);
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    /* IE 10+ */
    font-family: var(--fontStandard);
}

input:-moz-placeholder,
textarea:-moz-placeholder {
    /* Firefox 18- */
    font-family: var(--fontStandard);
}

input,
textarea {
    font-family: var(--fontStandard);
    line-height: 1.3rem;
}

.uploadSection fieldset {
    border: none;
}

.uploadSection legend {
    font-size: 150%;
    text-align: center;
    margin: 2rem 0;
    padding-top: 2rem;
}

.uploadSection label {
    display: block;
    margin-bottom: .5rem;
    color: var(--darkgray);
}

.uploadSection input {
    width: 100%;
    margin-bottom: 1rem;
    padding: .3rem;
    height: 2rem;
    border-radius: .3rem;
    border: 1px solid var(--darkgray);
}

.uploadSection input:focus {
    box-shadow: 0 0 1px 1px var(--red);
    outline: none;
}

textarea {
    width: 100%;
    resize: vertical;
    padding: .3rem;
    height: 5rem;
    border-radius: .3rem;
    border: 1px solid var(--darkgray);
}

textarea:focus {
    outline: none;
    box-shadow: 0 0 1px 1px var(--red);
}

.imageLabel {
    margin-top: 2rem;
    font-size: 120%;
    display: none;
}

/* LOCATION ZONE  */

.locationWrap {
    width: 100%;
    border: 1px solid var(--darkgray);
    height: 2.05rem;
    border-radius: .3rem;
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
    position: relative;
}

.locationWrap.loading::before {
    content: '';
    position: absolute;
    top: calc(50% - .45rem);
    left: .4rem;
    border: 0.15rem solid var(--darkgray);
    border-top-color: var(--red);
    width: .7rem;
    height: .7rem;
    border-radius: 50%;
    animation: spinner 1s linear 0s infinite;
}

@keyframes spinner {
    from {
        transform: rotate(0deg)
    }

    to {
        transform: rotate(1turn)
    }
}

.locationWrap input {
    width: 93%;
    border: none;
    box-shadow: none;
    background: transparent;

}

.locationWrap input:focus {
    box-shadow: none;
    outline: none;
}


.locationWrap div {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    margin-left: .2rem;
}

.locationWrap:focus-within {
    box-shadow: 0 0 1px 1px var(--red);
    border-radius: .3rem;
}

.locationWrap svg {
    height: 80%;
}


/* DRAG AND DROPZONE */

.drop-zone.active {
    width: 100%;
    height: 10rem;
    border: 1px dashed var(--red);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    margin: 1rem 0;
    cursor: pointer;
}

.drop-zone:focus-within {
    box-shadow: 0 0 1px 1px var(--red);
}

.drop-zone_text {
    display: none;
}

.drop-zone_text.active {
    display: initial;
    color: var(--darkgray);
    text-align: center;
}

.drop-zone.active.drop-zone_over {
    border: solid 1px var(--red);
}

.drop-zone_input.active {
    /* display: none; */
    clip: rect(0 0 0 0);
    position: absolute;
    top: -1em;
    border: none;
}

#imageLabel {
    display: none;
}

.drop-zone_thumb {
    width: 100%;
    height: 100%;
    border-radius: .5rem;
    overflow: hidden;
    background: var(--lightgray);
    background-size: cover;
    background-position: center;
    position: relative;
}

.drop-zone_thumb::after {
    content: attr(data-label);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: .3rem 0;
    background: var(--darkgray);
    color: white;
    text-align: center;
    font-size: 80%;
    font-weight: 300;
}

input[type=file] {
    /* border: none; */
    clip: auto;
    position: initial;
    height: initial;
    border: 1px dashed var(--red);
    background: var(--lightgray);
    padding: 1rem 2rem;
    color: var(--darkgray);
}

/* UPLOAD BUTTON  */

.uploadLabel {
    display: none;
}

#uploadPhotograph {
    width: initial;
    height: initial;
    padding: 1rem 2rem;
    background: var(--red);
    border: none;
    color: white;
    transition: all .5s ease;
    border-radius: .5rem;
    float: right;

}

#uploadPhotograph:hover {
    background: var(--green);
    box-shadow: 0px 0px 13px -1px #8C8C8C;
}

#uploadPhotograph:focus {
    outline: 3px dashed var(--red);
    /* box-shadow: 0 0 1px 1px var(--red); */
}


/* detail page */
.detailPage {
    color: var(--darkgray);
    position: relative;
}

.detailPage div {
    width: min(60rem, 100%);
    margin: 0 auto;
}

.detailPage h2 {
    padding: 1rem 0rem;
    text-align: center;
    background: var(--red);
    color: white;
    margin-bottom: 2rem;
}

.detailPage h3 {
    padding: 1rem;
}

.detailPage p {
    padding: 1rem;
}

.detailPage img {
    width: min(60rem, 100%);
    display: block;
    margin: 0 auto;
}

.detailPage div>div>a {
    background: var(--red);
    padding: 1rem 2rem;
    margin: 1rem;
    color: white;
    text-decoration: none;
    display: inline-block;
    border-radius: .5rem;
    transition: background-color .5s ease;
}

.detailPage div>div>a:hover {
    background: var(--green);
    box-shadow: 0px 0px 13px -1px #8C8C8C;
}

.wrap {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: baseline;
}

.wrap a:focus {
    outline: 1px dashed var(--red);
}

.detailPage form {
    width: min(40rem, 90%);
    margin: 0 auto;
}

.detailPage label {
    display: inline-block;
    padding: 1rem 2rem;
    border-radius: .5rem;
    position: relative;
}

.detailPage label:first-of-type {
    padding: 1rem 2rem 1rem 0;
    display: flex;
    align-items: center;
}

.detailPage input[type=checkbox]:focus+label {
    outline: 1px dashed var(--red);
}


.detailPage input[type=submit]:focus+label {
    outline: 1px dashed var(--red);
}

.detailPage label:first-of-type:before {
    content: '';
    margin-right: .5rem;
    display: inline-block;
    width: 2rem;
    height: 2rem;
    /* background: white; */
    border: 1px solid var(--red);
    border-radius: 50%;
    transform: rotateZ(180deg);
    transition: all 0.4s cubic-bezier(0.54, 0.01, 0, 1.49);

}

.detailPage input[type=checkbox]:checked+label:first-of-type:before {
    /* background: var(--red); */
    border: 1px solid white;
    background: url("../images/check-circle.svg");
    background-position: center;
    background-size: contain;
    transform: rotateZ(0deg);
    transition: all 0.4s cubic-bezier(0.54, 0.01, 0, 1.49);
}

.detailPage input[type=checkbox]:not(:checked)+label:first-of-type:before {
    transform: rotateZ(180deg);
    transition: all 0.4s cubic-bezier(0.54, 0.01, 0, 1.49);
    /* background: white; */
}

.detailPage form input[type=checkbox],
.detailPage form input[type=submit] {
    clip: rect(0 0 0 0);
    position: absolute;
    left: -1em;
    border: none;
}


#seriePhotoSubmitLabel {
    background: var(--red);
    display: inline-block;
    margin: 1rem 0;
    text-align: center;
    color: white;
    border-radius: .5rem;
    transition: background-color .5s ease;
}

#seriePhotoSubmitLabel:hover {
    background: var(--green);
    box-shadow: 0px 0px 13px -1px #8C8C8C;
}



/* EDIT PAGE  */
.editPage div {
    width: min(60rem, 100%);
    margin: 0 auto;
}

.editPage img {
    width: min(60rem, 100%);
    display: block;
    margin: 0 auto;
}

.editPage fieldset {
    border: none;
}

.editPage legend {
    padding: 1rem 0rem;
    text-align: center;
    background: var(--red);
    color: white;
    margin-bottom: 2rem;
    width: 100%;
    font-weight: 700;
    font-size: 1.5rem;
}

.wrapSave {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    align-items: baseline;
    width: min(40rem, 90%);
    margin: 0 auto;
    flex-wrap: wrap-reverse;
}

.editPage form div>label {
    font-size: 1.17rem;
    font-weight: 700;
    width: initial;
    margin-left: 5%;
}

.editPage form div>input {
    padding: .5rem 0.5rem .2rem;
    width: 60%;
    margin: 0;
    margin-right: 5%;
    margin-bottom: 1rem;
}

#madeBy {
    margin-left: 5%;
    margin-right: .5rem;
    padding: 0;
    /* flex-grow: 1; */
}

.editPage form label {
    display: block;
    width: min(40rem, 90%);
    margin: 0 auto;
}

.editPage form input {
    display: block;
    width: min(40rem, 90%);
    padding: .5rem 0.5rem .2rem;
    margin: .5rem auto 2rem auto;
}

.editPage form textarea {
    display: block;
    height: 5rem;
    width: min(40rem, 90%);
    padding: .5rem 0.5rem .2rem;
    margin: .5rem auto 2rem auto;
}

#saveChangesLabel {
    background: var(--red);
    padding: 1rem 1.8rem;
    margin: 1rem 5% 1rem 0;
    color: white;
    text-decoration: none;
    display: inline-block;
    border-radius: .5rem;
    transition: background-color .5s ease;
    font-size: 100%;
    font-weight: normal;
}

#saveChangesLabel:hover {
    background: var(--green);
    box-shadow: 0px 0px 13px -1px #8C8C8C;
}

.editPage form input[type=submit] {
    clip: rect(0 0 0 0);
    position: absolute;
    left: -1em;
}

.editPage input[type=submit]:focus+label {
    outline: 1px dashed var(--red);
}

.editPage input {
    border: 1px solid var(--darkgray);
    border-radius: .3rem;
}

.editPage input:focus {
    box-shadow: 0 0 1px 1px var(--red);
    outline: none;
    border: 1px solid white;
}

/* BREAK POINTS  */

@media all and (min-width: 21rem) {
    .wrapSave {
        justify-content: flex-end;
    }

    .editPage form div>input {
        width: 36%;
    }

}

@media all and (min-width: 22rem) {
    .editPage form div>input {
        width: 34%;
    }
}

@media all and (min-width: 23rem) {
    .editPage form div>input {
        width: 36%;
    }
}

@media all and (min-width: 25rem) {
    .grid-masonry {
        column-count: 2;
    }

    .editPage form div>input {
        width: 41%;
    }


    nav ul {
        flex-direction: row;
    }


}

@media all and (min-width: 40rem) {
    .grid-masonry {
        column-count: 3;
    }

    nav>ul>li {
        list-style: none;
        padding: 1rem 1.5rem;
    }

    .detailPage,
    .editPage {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: top;
        flex-wrap: wrap;
        margin-top: 2rem;

    }

    .detailPage img,
    .editPage img {
        /* height: 30rem; */
        width: 30rem;
        height: 100%;
        /* position: absolute; */
        /* left: 20%; */
        /* border-radius: .5rem 0 0 .5rem; */
        padding: 0;
        margin: 0 0;
        border-radius: .5rem;
        margin: .5rem;
        box-shadow: 0px 0px 13px -1px #8C8C8C;
    }

    .detailPage>div,
    .editPage>form {
        width: min(30rem, 100%);
        padding: 0;
        background: var(--lightgray);
        border-radius: .5rem;
        margin: .5rem;
        margin-bottom: 2rem;

    }

    .detailPage h2,
    .editPage legend {
        /* border-radius: 0 .5rem 0 0; */
        border-radius: .5rem .5rem 0 0;
    }

    .wrapSave {
        justify-content: flex-end;
    }

    .editPage form div>input {
        width: 45%;
    }


}

@media all and (min-width: 60rem) {
    .grid-masonry {
        column-count: 4;
    }

}